        #calendario.jpg {
            width: 250px;
            padding: 15px 15px 50px 15px;
            background-color: rgb(247, 110, 110);
            Border-width: 20px;
        }
        
        ol.a {
            list-style-type: upper-roman;
        }
        
        ul.b {
            list-style-type: circle;
        }
        
        p {
            color: rgb(255, 72, 0);
        }
        
        p:nth-child(odd) {
            background: rgb(211, 238, 209);
        }
        
        p:first-child i {
            background-color: rgb(181, 160, 192);
        }
        
        .div1 :hover {
            background-color: #ffccf8;
        }
        
        .div2 :hover {
            background-color: #cbbfeb;
        }
        
        .div3 :hover {
            background-color: #fcb8cf;
        }
        
        p:nth-child(even) {
            background: rgb(170, 170, 245);
        }
        
        section p {
            color: rgb(89, 0, 255);
        }
        
        section section p {
            color: orange;
        }
        
        section section section p {
            color: #b9c7bb;
        }
        
        img {
            display: block;
            margin: auto;
        }
